<link rel="stylesheet" href="/public/css/adm.css">
<link rel="stylesheet" href="/public/media/media.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<section>
    <ul class="routesList">
        <li><a class="button" href="/adm/vendas">Vendas</a></li>
        <li><a class="button" href="/adm/produtos">Produtos</a></li>
        <li><a class="button" href="/adm/clientes">Clientes</a></li>
        <li><a  class="button" href="/adm/funcionarios">Funcionários</a></li>
    </ul>
    <img src="/public/images/adm/14722070-icone-da-linha-de-administracao-vetor.jpg" alt="">
</section>
