<link rel="stylesheet" href="/public/css/contato.css">
<link rel="stylesheet" href="/public/media/media.css">

<div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Login Administrativo</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body">
              <form action="">
                <label for="">Login</label>
                <input type="text" name="" id=""> 
                <br>
                <label for="">Senha</label>
                <input type="password" name="" id="">
              </form>
            </div>
      
            <!-- Modal footer -->
            <div class="modal-footer">
              <input type="submit" value="Entrar" onclick="alert('Login Efetuado!')">
            </div>
      
          </div>
        </div>
      </div>
        </ul>
      </div>

  </nav>

  <main>
    <h2>Fale Conosco</h2>

    <form action="" class="formMensagem">
      <div class="nameInput">  
        <input type="text" name="" id="" placeholder="Insira seu nome">
      </div> 
      <div class="emailInput">   
        <input type="email" name="" id="" placeholder="Insira seu email">
      </div>
      <textarea name="" id="" cols="30" rows="10" placeholder="Mensagem" style="resize: none;"></textarea>
      <input type="submit" value="Enviar" onclick="alert('Mensagem Enviada Com Sucesso')" >
    </form>
    
  </main>
  