<link rel="stylesheet" href="/public/css/fotos.css">
<link rel="stylesheet" href="/public/media/media.css">

<div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Login Administrativo</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body">
              <form action="">
                <label for="">Login</label>
                <input type="text" name="" id=""> 
                <br>
                <label for="">Senha</label>
                <input type="password" name="" id="">
              </form>
            </div>
      
            <!-- Modal footer -->
            <div class="modal-footer">
              <input type="submit" value="Entrar" onclick="alert('Login Efetuado!')">
            </div>
      
          </div>
        </div>
      </div>
        </ul>
      </div>


  </nav>

  <main>
    <h2>Fotos</h2>

    <section class="about-container">
      <img src="/public/images/fotos/criancacoelho.jpg" alt="">
      <img src="/public/images/fotos/criancacomgato.jpg" alt="">
      <img src="/public/images/fotos/criancacomgato2.jpg" alt="">
      <img src="/public/images/fotos/criancacompeixe.jpg" alt="">
      <img src="/public/images/fotos/criancaecachorro.jpg" alt="">
      <img src="/public/images/fotos/criancaepassaro.jpg" alt="">
      <img src="/public/images/fotos/familiacomcachorro.jpeg" alt="">
    </section>
    
  </main>
 