<link rel="stylesheet" href="/public/css/home.css">
<link rel="stylesheet" href="/public/media/media.css">
        
 <div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Login Administrativo</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body">
              <form action="">
                <label for="">Login</label>
                <input type="text" name="" id=""> 
                <br>
                <label for="">Senha</label>
                <input type="password" name="" id="">
              </form>
            </div>
      
            <!-- Modal footer -->
            <div class="modal-footer">
              <input type="submit" value="Entrar" onclick="alert('Login Efetuado!')">
            </div>
      
          </div>
        </div>
      </div>

  </nav>

  <main>
    <h2>Conheça nossos produtos para o seu amiguinho</h2>
    <section class="left-container">
      <section class="dog-card">
        <img src="/public/images/dog/Lovepik_com-401730263-golden-dog.png" alt="">
        <h3>Cachorros</h3>
      </section>

      <section class="product-dog">
        <img src="/public/images 2/Racao_Para_Cachorro_Pedigree_PNG_Transparente_Sem_Fundo (1).png" alt="">
        <div class="product-info">
          <p>Pedigree Vital Adulto</p>
          <h4>R$ 34,00<center>10,1KG</center></h4></h4>
          <a href="#">Comprar</a>
        </div>
      </section>

      <section class="product-dog">
        <img src="/public/images 2/Racao_Para_Cachorro_Pedigree_PNG_Transparente_Sem_Fundo (2).png" alt="">
        <div class="product-info">
          <p>Pedigree Vital Essencial</p>
          <h4>R$ 30,00<center>10,1KG</center></h4></h4>
          <a href="#">Comprar</a>
        </div>
      </section>

      <section class="product-dog">
        <img src="/public/images 2/Sache_de_Racao_para_Cachorros_Pedigree_PNG_Transparente_Sem_Fundo.png" alt="">
        <div class="product-info">
          <p>Pedigree Vital Sachê</p>
          <h4>R$ 15,99<center>100G</center></h4></h4>
          <a href="#">Comprar</a>
        </div>
      </section>
    </section>


    <section class="right-container">
      <section class="cat-card">
        <img src="/public/images/cat/Gato_PNG_Transparente_Sem_Fundo.png" alt="">
        <h3>Gatos</h3>
      </section>

      <section class="product-cat">
        <img src="/public/images 2/gato1.png" alt="" id="gato1">
        <div class="product-info">
          <p>Pedigree Vital Adulto</p>
          <h4>R$ 34,00<center>500G</center></h4></h4>
          <a href="#">Comprar</a>
        </div>
      </section>

      <section class="product-cat">
        <img src="/public/images 2/gato2.png" alt="">
        <div class="product-info">
          <p>Pedigree Vital Essencial</p>
          <h4>R$ 30,00<center>3KG</center></h4></h4>
          <a href="#">Comprar</a>
        </div>
      </section>

      <section class="product-cat">
        <img src="/public/images 2/ORIGENS_GATOS_ADULTOS_CARNE_FRTESQ.png" alt="">
        <div class="product-info">
          <p>Pedigree Vital Sachê</p>
          <h4>R$ 15,99<center>10,1KG</center></h4></h4>
          <a href="#">Comprar</a>
        </div>
      </section>
    </section>


    <section class="left-container">
      <section class="dog-card">
        <img src="/public/images/HORSE/horse1.png" alt="">
        <h3>Cavalos</h3>
      </section>

      <section class="product-dog">
        <img src="/public/images 2/cavalo.png" alt="">
        <div class="product-info">
          <p>SuperForm</p>
          <h4>R$ 149,99<center>30KG</center></h4></h4>
          <a href="#">Comprar</a>
        </div>
      </section>

      <section class="product-dog">
        <img src="/public/images 2/cavalo 2.png" alt="">
        <div class="product-info">
          <p>Caballo</p>
          <h4>R$ 89,69<center>25KG</center></h4></h4>
          <a href="#">Comprar</a>
        </div>
      </section>

      <section class="product-dog">
        <img src="/public/images 2/cavalo 3.png" alt="">
        <div class="product-info">
          <p>Best Horse</p>
          <h4>R$ 199,99<center>40KG</center></h4></h4>
          <a href="#">Comprar</a>
        </div>
      </section>
    </section>


    <section class="right-container">
      <section class="cat-card">
        <img src="/public/images/LEBRE/lebre.png" alt="">
        <h3>Coelho</h3>
      </section>

      <section class="product-cat">
        <img src="/public/images 2/coelho1.png" alt="" id="gato1">
        <div class="product-info">
          <p>Valle Conejos</p>
          <h4>R$ 30,99<center>5KG</center></h4></h4>
          <a href="#">Comprar</a>
        </div>
      </section>

      <section class="product-cat">
        <img src="/public/images 2/coelho 2.png" alt="">
        <div class="product-info">
          <p>NUTRIMAX</p>
          <h4>R$ 65,99<center>5KG</center></h4></h4>
          <a href="#">Comprar</a>
        </div>
      </section>

      <section class="product-cat">
        <img src="/public/images 2/coelho 3.png" alt="">
        <div class="product-info">
          <p>Master Alimentos</p>
          <h4>R$ 68,49<center>5KG</center></h4></h4>
          <a href="#">Comprar</a>
        </div>
      </section>
    </section>

    <section class="left-container">
      <section class="dog-card">
        <img src="/public/images/BARDOU/ave.png" alt="">
        <h3>Aves</h3>
      </section>

      <section class="product-dog">
        <img src="/public/images 2/calo1.png" alt="">
        <div class="product-info">
          <p>SuperForm</p>
          <h4>R$ 9,99<center>KG</center></h4></h4>
          <a href="#">Comprar</a>
        </div>
      </section>

      <section class="product-dog">
        <img src="/public/images 2/calo2.png" alt="">
        <div class="product-info">
          <p>Caballo</p>
          <h4>R$ 10,49<center>KG</center></h4></h4>
          <a href="#">Comprar</a>
        </div>
      </section>

      <section class="product-dog">
        <img src="/public/images 2/MY BARDOU.png" alt="">
        <div class="product-info">
          <p>Best Horse</p>
          <h4>R$ 11,99<center>KG</center></h4></h4>
          <a href="#">Comprar</a>
        </div>
      </section>
    </section>

    <section class="right-container">
      <section class="cat-card">
        <img src="/public/images/THE FISH/—Pngtree—fish sea fish fish_8243296.png" alt="">
        <h3>Peixe</h3>
      </section>

      <section class="product-cat">
        <img src="/public/images 2/PEIXE1 .png" alt="" id="gato1">
        <div class="product-info">
          <p>Anhambi</p>
          <h4>R$ 169,49<center>25KG</center></h4></h4>
          <a href="#">Comprar</a>
        </div>
      </section>

      <section class="product-cat">
        <img src="/public/images 2/Mockup_Sacaria_Peixecol25-1.png" alt="">
        <div class="product-info">
          <p>Confiança</p>
          <h4>R$ 154,99<center>25KG</center></h4></h4>
          <a href="#">Comprar</a>
        </div>
      </section>

      <section class="product-cat">
        <img src="/public/images/THE FISH/PEIXE3.jpg" alt="">
        <div class="product-info">
          <p>Agronarte</p>
          <h4>R$ 199,49 <center>25KG</center></h4>
          <a href="#">Comprar</a>
        </div>
      </section>
    </section>
  </main>
  

