<link rel="stylesheet" href="/public/css/novaVenda.css">
<link rel="stylesheet" href="/public/media/media.css">


<form action="/adm/clientes/novoCliente" method="post">
  <div class="form-group">
    <label for="email">ID</label>
    <input type="text" class="form-control" id="id" name="id" value="{{clientes.dataValues.id}} ">
  </div>
  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" class="form-control" placeholder="Informe o nome do cliente" id="data" name="nome" value="{{cliente.dataValues.nome}}">
  </div>
  <div class="form-group">
    <label for="cpf">CPF</label>
    <input type="text" class="form-control" placeholder="Informe o cpf do Cliente" id="cpf" name="cpf" value="{{cliente.dataValues.cpf}}">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" placeholder="Informe o email do Cliente" id="email" name="email" value="{{cliente.dataValues.email}}">
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>

