<link rel="stylesheet" href="/public/css/sobre.css">
<link rel="stylesheet" href="/public/media/media.css">


<div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Login Administrativo</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body">
              <form action="">
                <label for="">Login</label>
                <input type="text" name="" id=""> 
                <br>
                <label for="">Senha</label>
                <input type="password" name="" id="">
              </form>
            </div>
      
            <!-- Modal footer -->
            <div class="modal-footer">
              <input type="submit" value="Entrar" onclick="alert('Login Efetuado!')">
            </div>
      
          </div>
        </div>
      </div>
  </nav>

  <main>
    <h2>Sobre</h2>

    <section class="about-container">
      <img src="/public/images/Sobre/Sobre-Loja.jpg" alt="">
      <h3>
       <b>LEG Rações: Nutrindo Seus Companheiros com Qualidade e Dedicação</b><br>
      </h3>
       
      <p>
        Seja bem-vindo à LEG Rações, sua loja de confiança para cuidar da alimentação e do bem-estar de todos os seus adoráveis amigos, sejam eles de quatro, duas ou mesmo nenhuma patas. Há anos, temos sido uma presença constante e amorosa na comunidade, dedicados a garantir que todos os seus animais de estimação recebam os melhores cuidados nutricionais.
        Na LEG Rações, reconhecemos a diversidade de necessidades entre os diferentes membros da sua família animal. Por isso, oferecemos uma ampla variedade de alimentos de alta qualidade para satisfazer até os mais exigentes paladares. Desde rações básicas para cães e gatos até opções especializadas para peixes, aves e coelhos, estamos aqui para garantir que cada um deles receba todos os nutrientes essenciais para uma vida longa e saudável.
        Nosso compromisso com a excelência é evidente em cada produto que oferecemos. Trabalhamos em parceria com os principais fabricantes de alimentos para animais de estimação, assegurando que cada item em nossas prateleiras seja formulado com ingredientes premium, livres de aditivos prejudiciais.
      </p>
    </section>